aioredis==1.2.0
amqp==2.5.0
anyjson==0.3.3
app-version==1.0.1
asgiref==3.1.2
asn1crypto==0.24.0
astroid==2.3.1
async-timeout==3.0.1
attrs==19.1.0
autobahn==19.6.2
Automat==0.7.0
autopep8==1.4.4
billiard==3.5.0.5
celery==4.1.1
certifi==2019.6.16
cffi==1.12.3
channels==2.2.0
channels-redis==2.4.0
chardet==3.0.4
constantly==15.1.0
cryptography==2.7
cycler==0.10.0
daphne==2.3.0
defusedxml==0.6.0
dj-database-url==0.5.0
Django==2.2.1
django-allauth==0.40.0
django-braces==1.13.0
django-celery==3.3.0
django-celery-beat==1.5.0
django-cors-headers==3.0.2
django-filter==2.2.0
django-oauth-toolkit==1.2.0
django-postgres-extra==1.22
django-rest-auth==0.9.5
django-rest-framework-social-oauth2==1.1.0
django-timezone-field==3.0
djangorestframework==3.9.4
entrypoints==0.3
flake8==3.7.8
gitdb2==2.0.6
GitPython==3.0.4
gunicorn==20.0.0
hiredis==1.0.0
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
isort==4.3.21
kiwisolver==1.1.0
kombu==4.6.3
lazy-object-proxy==1.4.2
Markdown==3.1.1
matplotlib==3.1.1
mccabe==0.6.1
msgpack==0.6.1
notify==0.3.1
notify2==0.3.1
numpy==1.17.2
oauthlib==3.1.0
pandas==0.25.1
psycopg2-binary==2.8.3
pycodestyle==2.5.0
pycparser==2.19
pyflakes==2.1.1
PyHamcrest==1.9.0
PyJWT==1.7.1
pylint==2.4.2
pynotify==0.1.1
pyparsing==2.4.2
python-crontab==2.3.6
python-dateutil==2.8.0
python-social-auth==0.3.6
python3-openid==3.1.0
pytz==2019.1
redis==3.2.1
requests==2.22.0
requests-oauthlib==1.2.0
rest-social-auth==2.2.0
scipy==1.3.1
six==1.12.0
smmap2==2.0.5
social-auth-app-django==3.1.0
social-auth-core==3.2.0
sqlparse==0.3.0
Twisted==19.7.0
txaio==18.8.1
typed-ast==1.4.0
urllib3==1.25.3
validate-email==1.3
vine==1.3.0
whitenoise==4.1.4
wrapt==1.11.2
zope.interface==4.6.0
